.content {
  width: 80%;
  margin: 0 auto 0 auto;
  height: 100%;
  max-width: 48rem;
  }

@media screen and (max-width: 300px) {
    .content {
        background-color: lightblue;
    }
}
.home-intro {
  h1 {
    margin-left: 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    color: #505069;
    font-family: rooney-sans,Helvetica,Arial,sans-serif;
  }
  p {
    margin: 2rem;
  }
}
