<section>
  <div class="content">
    <div class="item">
      <div class="cv-section">
        <h1>CV</h1>
        <h2 class="cv-header">Profile</h2>
        <p>
          I am a creative full-stack developer, dedicated to the intersection of technology, art & design. I can build responsive web applications from the ground up, and I spend long hours designing in  both digital and analog environments. I am passionate about contemporary Art and Design and I hope you are too. I am looking for web development opportunities to execute impactful ideas and integrate my creative background.
        </p>
      </div>
    </div>
    <div class="item">
      <div class="cv-section">
        <h2 class="cv-header">Education</h2>
        <p>Web Development Immersive, General Assembly, 2015
        MFA, Ceramics, Cranbrook Academy of Art 2013
        BA, French Lit, Studio Art, Skidmore College 2007
        </p>
      </div>
    </div>
    <div class="item">
     <div class="cv-section">
        <h2 class="cv-header">Projects</h2>
        <p>
        Four Walls, Four-Walls-App.herokuapp.com
        - An image sharing platform for creative projects using ruby on rails
        </p>
      </div>
    </div>
    <div class="item">
     <div class="cv-section">
        <h2 class="cv-header">Technical Skills</h2>
        <p>
        JavaScript, Ruby, Ruby on Rails, Sass, HTML, jQuery, Angular, Jasmine, PostgreSQL, Git
        </p>
      </div>
    </div>
      <div class="item">
     <div class="cv-section">
        <h2 class="cv-header">Experience</h2>
        <p>
        Studio Technician - Harvard University Ceramics,          2014 - 2015
        Artist Assistant – Anders Ruhwald, Artist-in-Residence, Cranbrook     2013 - 2014
        Curatorial Assistant to Anders Ruhwald is the production of museum
        exhibitions and studio objects.
        Apprentice – Toshiko Takaezu Studio,              2008 - 2010
        Managed studio and collection for the Artist, producing all museum
        correspondence and studio object with international artist
        </p>
      </div>
    </div>
      <div class="item">
     <div class="cv-section">
        <h2 class="cv-header">Interests</h2>
        <p>
        Web development, design, japanese folk pottery, French literature, cultural theory
        </p>
      </div>
    </div>
      <div class="item">
     <div class="cv-section">
        <h2 class="cv-header">Refs.</h2>
        <p>
        Jason Wharff - Web Developer, General Assembly - fishermanswharff@mac.com
        Anders Ruhwald - Artist-in-Residence, Cranbrook Academy of Art - mail@ruhwald.net
        Martha Russo - Prof. Rocky Mountain College of Art and Design - mlrusso@rmcad.edu
        </p>
      </div>
    </div>
  </div>
</section>

