<section>
  <div class="ui two column centered grid">
    <div class="ui divided list column">
      <div class="item">
        <div class="content">
          <a class="header">Profile</a>
            I am a creative full-stack developer, dedicated to the intersection of technology, art & design. I can build responsive web applications from the ground up, and I spend long hours designing in  both digital and analog environments. I am passionate about contemporary Art and Design and I hope you are too. I am looking for web development opportunities to execute impactful ideas and integrate my creative background.
        </div>
      </div>
      <div class="item">
        <div class="content">
          <a class="header">Education</a>
          Web Development Immersive, General Assembly, 2015
          MFA, Ceramics, Cranbrook Academy of Art 2013
          BA, French Lit, Studio Art, Skidmore College 2007
        </div>
      </div>
      <div class="item">
       <div class="content">
          <a class="header">Projects</a>
          Four Walls, Four-Walls-App.herokuapp.com
          - An image sharing platform for creative projects using ruby on rails

        </div>
      </div>
      <div class="item">
       <div class="content">
          <a class="header">Technical Skills</a>
          JavaScript, Ruby, Ruby on Rails, Sass, HTML, jQuery, Angular, Jasmine, PostgreSQL, Git
        </div>
      </div>
        <div class="item">
       <div class="content">
          <a class="header">Experience</a>
          Studio Technician - Harvard University Ceramics,          2014 - 2015
          Artist Assistant – Anders Ruhwald, Artist-in-Residence, Cranbrook     2013 - 2014
          Curatorial Assistant to Anders Ruhwald is the production of museum
          exhibitions and studio objects.
          Apprentice – Toshiko Takaezu Studio,              2008 - 2010
          Managed studio and collection for the Artist, producing all museum
          correspondence and studio object with international artist
        </div>
      </div>
        <div class="item">
       <div class="content">
          <a class="header">Interests</a>
          Web development, design, japanese folk pottery, French literature, cultural theory
        </div>
      </div>
        <div class="item">
       <div class="content">
          <a class="header">Refs.</a>
          Jason Wharff - Web Developer, General Assembly - fishermanswharff@mac.com
          Anders Ruhwald - Artist-in-Residence, Cranbrook Academy of Art - mail@ruhwald.net
          Martha Russo - Prof. Rocky Mountain College of Art and Design - mlrusso@rmcad.edu

        </div>
      </div>
    </div>
  </div>
</section>

