<cmt-navbar></cmt-navbar>
<div class="ui test container">
<h1 class="ui dividing header">hello world</h1>
<div class="ui internally celled grid">
        <div class="row">
          <div class="four wide column">Picture !</div>
          <div class="four wide column">Picture !</div>
          <div class="four wide column">Picture !</div>
          <div class="four wide column">Picture !</div>
        </div>
        <div class="row">
          <div class="four wide column">Picture !</div>
          <div class="four wide column">Picture !</div>
          <div class="four wide column">Picture !</div>
          <div class="four wide column">Picture !</div>
        </div>
      </div>
</div>
