<nav class="container nav-sticky">
  <div class="nav-about">
  <h1 class="">Charles Talbot</h1>
  <p> web developer, artist, occasional sailor </p>
  </div>
  <div class="nav-links">
    <a href="#/" class="active item"><i class="home icon"></i>Home</a>
    <!-- <a ng-href="#/posts" class="item"><i class="cube icon"></i>Posts</a> -->
    <!-- <a ng-href="#/media" class="item"><i class="paint brush icon"></i>Media</a> -->
    <a ng-href="#/cv" class="item"><i class="idea icon"></i>CV</a>
    <a ng-href="https://github.com/LookOut800" target="blank" class="item"><i class="github icon"></i>Github</a>
    <a ng-href="https://twitter.com/charlietal" target="blank" class="item"><i class="twitter icon"></i>Twitter</a>
  </div>
  <span>with <i class="heart icon"></i> from charles</span>
</nav>

