<h1>Posts</h1>

<div class="new-post content">
  <form role="form" name="upsertPostForm" ng-submit="postFormController.upsertpost(postFormController.post)" novalidate ng-controller="PostFormController as postFormController">

      <h2 ng-if="!postFormController.post.id">Create post</h2>
      <h2 ng-if="postFormController.post.id">Update Post</h2>

      <div class="alert alert-danger alert-dismissible" role="alert" ng-show="postFormController.serverErrors">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ postFormController.serverErrorMsg }}
      </div>

      <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" ng-model="postFormController.post.name">
      </div>

      <button type="submit" class="btn btn-primary" ng-disabled="upsertPostForm.$invalid">Submit</button>

      <button type="reset" class="btn btn-default" ng-click="postFormController.cancel()">Cancel</button>
  </form>
    </div>
